<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @student do |f|%>

        <% if @student.errors.any? %>
            <h2><%= pluralize(@student.errors.count, " erro") %> encontrado(s): </h2>
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :name, 'Nome'%>
          <%= f.text_field(:name, class: "field form-control", data: {
                :validation => "required validate_max_length length50",
                "validation-error-msg" => "This field is required and cannot be longer than 50 characters."
              })%></br>
        </div>

        <div class="form-group">
          <%= f.label :register_number, 'Numero de Matricula'%>
          <%= f.text_field :register_number, class: 'form-control'%></br>
        </div>

        <%= f.submit class:'btn btn-default'%>
      <% end %>

    </div>
  </div>
</div>
