<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h4 class="text-center">INFORMAÇÕES DO ESTUDANTE</h4><br/>
    <strong>Estudante Id: </strong><%= @student.id%><br/>
    <strong>Nome: </strong><%= @student.name%><br/>
    <strong>Numero de Registro: </strong><%= @student.register_number%><br/>
    <strong>Cadastrado em: </strong><%= @student.created_at.strftime("%d/%m/%Y às %H:%M ")%></br>
    <strong>Status: </strong>
      <% if @student.status == 1 %>
        Matriculado em <%= @course.name %> em <%= @matricula.entry_at.strftime("%d/%m/%Y às %H:%M ")%>
      <% else %>
        <%= 'Não Matriculado' %>
        <%= render 'matriculas/form'%>
      <% end %><br/>
    <br/>
    <div class="row">
      <div class="col-md-4 ">
         <%= link_to 'Alterar', edit_student_path(@student), class: "btn btn-default btn-block" %>
      </div>
      <% if @student.status == 1 %>
        <div class="col-md-4 ">
           <%= link_to 'Desvincular', student_matricula_path(:student_id => @student.id), class: "btn btn-danger btn-block",
                                     method: :delete, data: {confirm: "Tem certeza que quer desvincular?"} %>
        </div>
      <% end %>
      <div class="col-md-4">
        <%= link_to 'Excluir', student_path, class: "btn btn-danger btn-block",
                                  method: :delete, data: {confirm: "Tem certeza que quer Exluir?"} %>
      </div>
  </div>
</div>
