<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @course do |f|%>

        <% if @course.errors.any? %>
            <h2><%= pluralize(@course.errors.count, " erro") %> encontrado(s): </h2>
            <ul>
              <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :name, 'Nome'%>
          <%= f.text_field :name, class: 'form-control'%></br>
        </div>

        <div class="form-group">
          <%= f.label :description, 'Descrição'%>
          <%= f.text_area :description, class: 'form-control'%></br>
        </div>

        <div class="form-group">
          <%= f.check_box :status %>
        	<%= f.label :status, "Disponibilizar Curso? "%>
        </div>

        <%= f.submit class:'btn btn-default'%>
      <% end %>

    </div>
  </div>
</div>
